<nav class="navbar navbar-light bg-faded"><!-- navbar navbar-light bg-faded rounded navbar-toggleable-md -->
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="navbar-brand" style="font-size: 24pt; line-height: normal;">Library Editor</div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul style="list-style-type: none;">
        <li *ngIf="documentRoot">
          <tree-view [parent]="null" [tree]="documentRoot"></tree-view>
        </li>
        <li *ngIf="!documentRoot">
          Loading documents...
        </li>
      </ul>
      <ul style="list-style-type: none;">
        <li>
          <button type="button" class="btn btn-primary" (click)="upload();" [disabled]="state.uploadButtonDisabled">Upload Changes</button>
        </li>
      </ul>
      <div class="h3" style="margin-top: 8rem;">Help:</div>
      <ul id="help-list">
        <li><button type="button" class="btn btn-xs btn-primary hover">+ S</button> adds a new section.</li>
        <li><button type="button" class="btn btn-xs btn-primary">+ P</button> adds a new page.</li>
        <li><button type="button" class="btn btn-xs btn-primary">⟵ Save</button> saves the contents of the text editor <em>locally</em> (after saving all your changes you'll need to Upload them).</li>
        <li><button type="button" class="btn btn-xs btn-primary">Upload Changes</button> uploads all your saved changes to the database (i.e. where the mobile app will see them).</li>
        <li>Upload often to be safe.</li>
        <li>Right click and select "Add to dictionary" (or similar) to add technical jargon to the browser's spellchecker.</li>
      </ul>
    </div>
    <div class="col-md-7">
      <form>
        <div class="form-group">
          <label for="quillPageEditor">Page</label>
          <div id="quillPageEditor" style="height: 30em;"></div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="guiService.updateModel()" [disabled]="state.storeButtonDisabled">⟵ Save</button>
      </form>
    </div>
    <div class="col-md-3">
      <label for="quillHTML">Mobile display <em>approximation</em>:</label>
      <div id="quillHTML"></div>
    </div>
  </div>
  <div *ngIf="debugComponent" class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="logDocument()">Log</button><br>
      <br>
      <span class="glyphicon glyphicon-file"></span>
      <span class="glyphicon glyphicon-folder-close"></span>
      <span class="glyphicon glyphicon-folder-open"></span>
      <span class="glyphicon glyphicon-list"></span>
      <span class="glyphicon glyphicon-file"></span>
      <span class="glyphicon glyphicon-chevron-up"></span>
      <span class="glyphicon glyphicon-chevron-down"></span>
      <span class="glyphicon glyphicon-arrow-up"></span>
      <span class="glyphicon glyphicon-arrow-down"></span>
      <span class="glyphicon glyphicon-menu-up"></span>
      <span class="glyphicon glyphicon-menu-down"></span>
      <div style="margin-bottom: 10em;"></div>
    </div>
  </div>
</div>
