.title-hover {
  cursor: pointer;
}

.section-title {
  text-decoration: underline;
}

/* papyrus EEDFA6 */
.glyphicon.glyphicon-folder-open {
  color: #f1d592;
}

ul {
  list-style-type: none;
  /* padding-left: 0px; */
  border-left: 1px solid black;
}