<span (mouseenter)="titleBarVisibility = 'initial'" (mouseleave)="titleBarVisibility = 'none'">
  <span *ngIf="isASection()">
    <span class="glyphicon glyphicon-folder-open"></span>
    <span>{{ tree.title }}</span>
  </span>
  <span *ngIf="isAPage()" (click)="fillPageData()" class="pointer-cursor">
    <span class="glyphicon glyphicon-file"></span>
    <span class="underlined">{{ tree.title }}</span>
  </span>

  <span class="pointer-cursor glyphicon glyphicon-remove text-danger" [style.display]="titleBarVisibility" (click)="deleteNode()"></span>
  <span class="pointer-cursor glyphicon glyphicon-pencil text-primary" [style.display]="titleBarVisibility" (click)="editTitle()"></span>
</span>

<ul *ngIf="isNotAPage()">
  <li *ngFor="let branch of tree.items">
    <tree-view [tree]="branch"></tree-view>
  </li>
  <li>
    <span class="glyphicon glyphicon-plus"></span><div class="btn-group btn-group-xs"><button type="button" (click)="addSection()" class="btn btn-primary">S</button><button type="button" (click)="addPage()" class="btn btn-primary">P</button></div>
  </li>
</ul>
